.poke-tab-btn {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, white, grey);
    width: 100%;
    justify-content: space-between;
    padding: 0.75rem;
    border-radius: 10px;
    border-bottom: 3px solid black;
    margin: 0.5rem 0;
}

.poke-tab-btn:hover {
    border: 2px solid black;
    transition: 0.3s;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.67), rgba(128, 128, 128, 0.661));
    border-bottom: 3px solid black;
}

.pokemon-data-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pokemon-name {
    text-transform: capitalize;
}

.pokemon-dex {
    border-radius: 50%;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
}

.pokeball-img-container {
    background-color: black;
    border-radius: 50%;
}

.pokeball-img {
    width: 2.5rem;
}